* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #101010;
}

:root {
  --body-text: #323232;
  --theme-font: 'Strait', monospace;
  --body-font: 'Inter', sans-serif;
  /* OTHER FONT OPTION ABOVE? MAYBE FOR REGULAR TEXT */
  --content-bg-color: #fff;
}

body {
  font-family: var(--theme-font);
  font-size: 1.6rem;
  color: var(--body-text);
}
