.content-container {
  background-color: var(--content-bg-color);
  width: 50%;
  height: 50%;
  transform: translateY(-3rem);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logged-in {
  width: 90%;
  height: 90%;
}

.logo {
  width: 30rem;
}
