.sign-up__main-container {
  display: grid;
  align-items: center;
  /* justify-content: center; */
  grid-template-columns: repeat(5, 1fr);
}

.sign-up__form-container {
  grid-column: 1 / 4;
  align-self: end;
}

.sign-up__img-container {
  grid-column: 4 / -1;
  transform: translateX(-4rem);
}

.sign-up__form-container {
  transform: translateY(-1.5rem);
  justify-self: start;
  padding-left: 3rem;
}

.sign-up__form-container input {
  font-size: inherit;
  padding: 3px;
  color: var(--input-text-color);
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  font-family: sans-serif;
}

.sign-up__form-item {
  font-size: 1.8rem;
}

.select-input {
  /* display: flex;
  align-items: center; */
}

.select-input select {
  font-size: inherit;
  padding: 3px;
  color: var(--input-text-color);
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  font-family: sans-serif;
  width: 19.5rem;
}

.sign-up__img {
  width: 105%;
  opacity: 50%;
}

.sign-up__btn {
  background: none;
  /* border: 1px solid var(--btn-fade-color); */
  border: none;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  color: var(--light-purple);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: all 0.3s;
  font-size: 2.4rem;
  cursor: pointer;
}

.sign-up__btn:hover {
  background-color: var(--btn-fade-color);
  color: var(--dark-purple);
  /* border: 1px solid transparent; */
  transform: scale(1.05);
}
